<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Voucher_Number_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Voucher_Number_Generator.Properties.Settings.ConnectionStr"
            connectionString="Data Source=SQL2012;Initial Catalog=stv_dbSQL;Persist Security Info=True;User ID=sa;Password=P3t3rP1p3r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Voucher_Number_Generator.Properties.Settings>
            <setting name="sql_user" serializeAs="String">
                <value>dbo</value>
            </setting>
            <setting name="email_to" serializeAs="String">
                <value>sttrast@gmail.com</value>
            </setting>
            <setting name="email_from" serializeAs="String">
                <value>dopa-x7545-b@stvinc.com</value>
            </setting>
            <setting name="email_cc" serializeAs="String">
                <value />
            </setting>
            <setting name="email_bc" serializeAs="String">
                <value />
            </setting>
            <setting name="email_subject" serializeAs="String">
                <value>voucher numbers</value>
            </setting>
            <setting name="email_body" serializeAs="String">
                <value />
            </setting>
            <setting name="email_attach" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_server" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtp_port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="nos_user_id" serializeAs="String">
                <value>sttrast@gmail.com</value>
            </setting>
            <setting name="nos_user_pw" serializeAs="String">
                <value>hunt3rsd@ddy</value>
            </setting>
            <setting name="LogAllActivities" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFileDirectory" serializeAs="String">
                <value>AP_Vouchers\ETPLogFiles</value>
            </setting>
            <setting name="dataprovider" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="verbose_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="email_text_file" serializeAs="String">
                <value>email_addresses.txt</value>
            </setting>
            <setting name="pdfTemplate" serializeAs="String">
                <value>STV breaker page template.pdf</value>
            </setting>
            <setting name="temporary_dir" serializeAs="String">
                <value>AP_Vouchers</value>
            </setting>
            <setting name="unique_string" serializeAs="String">
                <value>STV</value>
            </setting>
            <setting name="max_vouchers" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="email_msgbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="email_vouchers" serializeAs="String">
                <value>False</value>
            </setting>
        </Voucher_Number_Generator.Properties.Settings>
    </userSettings>
</configuration>